{
  "overrides": [
    {
      "files": "charts/*/templates/*.yaml",
      "options": {
        "parser": "yaml",
        "embeddedLanguageFormatting": "off",
        "bracketSpacing": false
      }
    }
  ]
}